.my-pricing-table>.elementor-widget-container {
	position: relative;
	overflow: hidden;
	padding: 3em 4em;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 3px 40px rgba(36, 36, 36, .1)
}

.my-pricing-table-title {
	margin-top: 0;
	margin-bottom: .5rem;
	color: #242424;
	font-weight: 400;
	font-size: 24px
}

.my-pricing-table-price {
	margin-bottom: 35px
}

.my-pricing-table-price-tag {
	margin-bottom: .5rem;
	color: #242424;
	font-size: 60px;
	line-height: normal
}

.my-pricing-table-currency {
	font-size: 24px
}

.my-pricing-table-period {
	color: #000000;
	font-size: 16px
}

.my-pricing-table-body {
	margin-bottom: 3rem
}

.my-pricing-table-features-title {
	margin-top: 0;
	margin-bottom: 1rem;
	font-size: 18px
}

.my-pricing-table-features-list {
	margin: 0;
	padding: 0;
	list-style: none
}

.my-pricing-table-features-list li {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: baseline;
	-webkit-align-items: baseline;
	align-items: baseline;
	-ms-flex-align: baseline;
	margin-bottom: 1rem;
	font-size: 16px
}

.my-pricing-table-features-list li>i,
.my-pricing-table-features-list li>svg {
	margin-right: .5rem;
	min-width: 15px;
	text-align: center;
	font-size: .8em
}

.my-pricing-table-features-list li>svg {
	width: auto;
	height: 1em;
	fill: currentColor
}

.my-pricing-table-feature-text {
	display: inline-block
}

.my-pricing-table-btn {
	display: inline-block;
	padding: 12px 26px;
	border-radius: 40px;
	background-color: #2c2c2c;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	-webkit-transition: all .3s;
	transition: all .3s
}

.my-pricing-table-btn:hover {
	background-color: #7b2dd4;
	color: #fff
}