.my-review--left>.elementor-widget-container, .my-review--right>.elementor-widget-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-align: center;
}

.my-review-ratting--num {
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #FFBF36;
    color: #fff;
}

.my-review--top>.elementor-widget-container {
    padding: 25px;
}

.my-review>.elementor-widget-container {
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 3px 40px rgb(36 36 36 / 10%);
}

.my-review--top .my-review-figure {
    display: inline-block;
    height: 70px;
}

.my-review-figure {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 var(--my-review-media-width,70px);
    -ms-flex: 0 0 var(--my-review-media-width,70px);
    flex: 0 0 var(--my-review-media-width,70px);
    margin: 0;
    max-width: var(--my-review-media-width,70px);
    -webkit-transform: translate(var(--my-review-media-offset-x),var(--my-review-media-offset-y));
    -ms-transform: translate(var(--my-review-media-offset-x),var(--my-review-media-offset-y));
    transform: translate(var(--my-review-media-offset-x),var(--my-review-media-offset-y));
}

.my-review {
    --my-review-left-body-width: calc(100% - var(--my-review-media-width) + (-1*var(--my-review-media-offset-x)));
    --my-review-media-offset-x: calc(1px - 1px);
    --my-review-media-offset-y: calc(1px - 1px);
    --my-review-right-body-width: calc(100% - var(--my-review-media-width) + (var(--my-review-media-offset-x)));
}

.my-review--left .my-review-figure, .my-review--right .my-review-figure {
    height: 150px;
}

.my-review--left .my-review-body>:first-child, .my-review--right .my-review-body>:first-child {
    margin-top: 0;
}

.my-review--left>.elementor-widget-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 25px;
}

.my-review--left .my-review-body, .my-review--right .my-review-body {
    padding: 25px;
}

.my-review--left, .my-review--right {
    --my-review-media-width: 150px;
}

.my-review--right .my-review-body {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 var(--my-review-right-body-width);
    -ms-flex: 0 0 var(--my-review-right-body-width);
    flex: 0 0 var(--my-review-right-body-width);
    margin-right: calc(-1*var(--my-review-media-offset-x));
    max-width: var(--my-review-right-body-width);
}

.my-review--right>.elementor-widget-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    padding-right: 25px;
    text-align: right;
}

.my-review-figure img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    vertical-align: bottom;
    -o-object-fit: cover;
    object-fit: cover;
}

.my-review--top .my-review-body {
    margin-top: var(--my-review-media-offset-y);
}

.my-review-desc {
    margin-top: 25px;
    font-size: 16px;
    line-height: 1.6;
}

.my-review-desc p {
    margin: 0;
}

.my-review-header {
    margin-top: 20px;
}

.my-review-reviewer {
    margin-top: 0;
    margin-bottom: 10px;
    color: #151515;
    font-size: 18px;
}

.my-review-position {
    margin-bottom: 10px;
    color: #7f7f7f;
    font-size: 15px;
}

.my-review-ratting--star {
    color: #ffbf36;
}

.my-review-ratting {
    display: inline-block;
    font-size: 12px;
    line-height: 1;
}