body {
    font: 400 15px/28px "Poppins", sans-serif;
    letter-spacing: 0px;
    color: #797979;
    padding: 0px;
    overflow-x: hidden;
    z-index: 0;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.my-addon img {
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

button {
    box-shadow: none;
}

button:focus{
    outline:none !important;
}

button.owl-dot {
    background: none !important;
}